.layout-container {
  height: 100vh;
  width: 100vw;
}

.layout-sidebar {
  width: 280px;
  border: none !important;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.02);
  border-radius: 0 !important;
  background: transparent !important;
}

.layout-main {
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  padding: 0;
  overflow-y: auto;
  background: var(--bg-surface-1);
  display: flex;
  flex-direction: column;
}
